@font-face {
    font-family: "Junction";
    src: url("/resources/web fonts/junction_regular_macroman/Junction-regular-webfont.woff");
    font-weight: 500;
}

@font-face {
    font-family: "AUdimat";
    src: url("/resources/web fonts/audimat_OT/AUdimat-Regular.otf");
    font-weight: 500;
}

.root-panel-container {
  font-family: "AUdimat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: absolute;
  pointer-events: none;
}