@import 'node_modules/reset-css/_reset';
@import 'node_modules/angular-tooltips/dist/angular-tooltips.min';
@import 'src/ui/_reset.scss';
@import 'src/ui/_simpleGrid.scss';
@import 'src/ui/_variables.scss';

@font-face {
    font-family: "Junction";
    src: url("/resources/web fonts/junction_regular_macroman/Junction-regular-webfont.woff");
    font-weight: 500;
}

@font-face {
    font-family: "AUdimat";
    src: url("/resources/web fonts/audimat_OT/AUdimat-Regular.otf");
    font-weight: 500;
}

@font-face {
    font-family: "AUdimat";
    src: url("/resources/web fonts/audimat_OT/AUdimat-Bold.otf");
    font-weight: bold;
}



h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  padding: 6px;
}

tooltip.tooltips {
  margin: 0 auto;
}

.root-panel-container {
  font-family: "AUdimat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

img.medium-icon {
  width: 42px;
  position: absolute;
}

img.x-small-icon {
  width: 12px;
  position: absolute;
}

img.small-icon {
  width: 22px;
  position: absolute;
}

.separator {
  display: inline-block;
  width: calc(100% - 12px);
  height: 3px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: $color-green-2;
}