// PIGMENTS: cmd-shift-alt-j
// http://paletton.com/#uid=6390R0kcSNOdWWldISwb1IH7ABW
$color-aqua-0: #83DBC2;
$color-aqua-1: #89F2D5;
$color-aqua-2: #84E8CC;
$color-aqua-3: #86CDB9;
$color-aqua-4: #8EBAAE;

$color-lavander-0: #9393DF;
$color-lavander-1: #9A9AF4;
$color-lavander-2: #9595EB;
$color-lavander-3: #9595D3;
$color-lavander-4: #9C9CC3;

$color-gyellow-2-0: #DBF995;
$color-gyellow-2-1: #DCFD8F;
$color-gyellow-2-2: #DBFB8F;
$color-gyellow-2-3: #DDF6A1;
$color-gyellow-2-4: #E2F3B9;

$color-peach-0: #FFBD99;
$color-peach-1: #FFB890;
$color-peach-2: #FFB992;
$color-peach-3: #FFC7A7;
$color-peach-4: #FFD8C3;

// http://paletton.com/#uid=73q1R0kjDnI4aOobNvjqZgxF088

$color-navy-blue-0: #316377;
$color-navy-blue-1: #BED2DA;
$color-navy-blue-2: #658D9D;
$color-navy-blue-3: #104053;
$color-navy-blue-4: #011E29;

$color-red-violet-0: #9F3D6A;
$color-red-violet-1: #EFD0DE;
$color-red-violet-2: #D284A8;
$color-red-violet-3: #6F113C;
$color-red-violet-4: #360019;

$color-green-0: #82AD43;
$color-green-1: #EAF7D7;
$color-green-2: #C3E591;
$color-green-3: #4F7913;
$color-green-4: #233C00;

$color-whiskey-0: #BD8549;
$color-whiskey-1: #FFEFDE;
$color-whiskey-2: #F9CD9E;
$color-whiskey-3: #844E15;
$color-whiskey-4: #412200;

$color-ocean-blue-0: #57C0FF;	// Main Secondary color (2) */
$color-ocean-blue-1: #FCFDFD;
$color-ocean-blue-2: #91D3FA;
$color-ocean-blue-3: #20ACFF;
$color-ocean-blue-4: #02A1FF;

$color-grey: #969696;
$color-light-grey: #CACACA;
