@import 'src/ui/_variables.scss';

$panel-width: 440px;

.planet-panel-container {
  width: $panel-width;
  height: 100%;
  color: white;
  position: absolute;
  pointer-events: auto;
  right: -$panel-width;
  transition: transform 1s;

  &.opening {
      transform: translateX(-$panel-width);
  }
  
  $planet-types: ice-giant, helium-planet, gas-giant, 
  ocean-planet, terrestrial-planet;
  
  $ice-palette: $color-ocean-blue-0, $color-ocean-blue-1, $color-ocean-blue-2, $color-ocean-blue-3, $color-ocean-blue-4;
  $helium-palette: $color-navy-blue-0, $color-navy-blue-1, $color-navy-blue-2, $color-navy-blue-3, $color-navy-blue-4;
  $gas-palette: $color-whiskey-0, $color-whiskey-1, $color-whiskey-2, $color-whiskey-3, $color-whiskey-4;
  $ocean-palette: $color-ocean-blue-0, $color-ocean-blue-1, $color-ocean-blue-2, $color-ocean-blue-3, $color-ocean-blue-4;
  $terrestrial-palette: $color-green-0, $color-green-1, $color-green-2, $color-green-3, $color-green-4;

  $planet-types: (ice-giant, $ice-palette) (helium-planet, $helium-palette) (gas-giant, $gas-palette) 
  (ocean-planet, $ocean-palette) (terrestrial-planet, $terrestrial-palette);

  @each $planet, $palette in $planet-types {
      &.#{$planet} {
        background-color: nth($palette, 3);
        .info-panel, .actions-panel {
          background-color: nth($palette, 5);
        }
        
        .actions-panel .colonize-progress-bar {
          background-color: nth($palette, 1);
        }
      }
  }
  
  .title-panel {
    position: relative;
    text-shadow: 2px 2px 0 $color-grey;
    margin-bottom: 24px;
    
    > h1 {
      position: absolute;
      bottom: 32px;
      margin-left: 12px;
      text-shadow: 2px 2px 0 $color-grey;
    }
    
    > h3 {
      position: absolute;
      bottom: 2px;
      margin: 4px;
      margin-left: 12px;
    }
    
    img.title-background {
      width: 100%;
      height: 170px;
    }
    
    img.colonized-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 2px;
      left: 2px;
    }
    
    .panel-close-button {
      position: absolute;
      cursor: pointer;
      right: 2px;
      top: 2px;
      color: white;
      z-index: 1;
    }
  }
  
  .info-panel, .actions-panel {
    padding: 12px;
  }
  
  .actions-panel {
    margin-top: 24px;

    .colonize-button {
      
      &:hover {
        color: darken(white, 2%);
        background-color: darken($color-navy-blue-3, 2%);
      }
      
      &:active {
        color: darken(white, 5%);
        background-color: darken($color-navy-blue-3, 5%);
      }
    }
    
    .colonize-progress {
      position: relative;
      text-align: center;
      font-size: 28px;

      span {
        position: relative;
        z-index: 1;
      }
      
      .colonize-progress-bar {
        display: inline-block;
        animation: progress 5s;
        position: absolute;
        height: 100%;
        left: 0;
      }
    }
    
    @keyframes progress {
      from {
        width: 0; 
      }
    
      to {
        width: 100%;
      }
    }
  }
  
  .button-wrapper + .button-wrapper {
    margin-top: 12px;
  }
  
  div.planet-action-button {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: $color-navy-blue-3;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    cursor: pointer;
    border: 1px solid $color-navy-blue-2;
    
    &.disabled {
      background-color: $color-light-grey;
      cursor: default;
      
      &:hover {
        color: darken(white, 2%);
        background-color: darken($color-light-grey, 2%);
      }
      
      &:active {
        color: darken(white, 5%);
        background-color: darken($color-light-grey, 5%);
      }
    }
    
    img.medium-icon {
      left: 62px;
      top: 8px;
    }
  }
  
  .debug-panel {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-color: grey;
  }
  
}