<div class="planet-panel-container"
  ng-if="planetPanel.planet"
  ng-class=
    "[planetPanel.getPlanetClass(), planetPanel.getSideAlign(),  planetPanel.planet.drawingData.img.color, planetPanel.getPanelState()]">
  
  <div class="title-panel">
    <img 
      class="colonized-icon"
      title="Planet colonized"
      ng-show="planetPanel.isPlanetColonized()"
      ng-src="/resources/icons/home.png">
    </img>
    
    <div class="panel-close-button" ng-click="planetPanel.closePanel()">x</div>
    
    <img 
      class="title-background"
      ng-repeat="bg in planetPanel.allBackgrounds"
      ng-show="planetPanel.planet.drawingData.theme.background === bg"
      ng-src="{{'/resources/planets/backgrounds/' + bg}}" alt="Planet bg">
    </img>    
      
    <h1>{{planetPanel.planet.name}}</h1>
    <h3>{{planetPanel.planet.type}}</h3>
  </div>
  
  <div class="info-panel">
    <p>Temperature: {{planetPanel.planet.temperature}}℃</p>
    <p>Distance to nearest star: {{planetPanel.planet.dist}} AU</p>
    <p>Size (diameter): {{planetPanel.planet.size | number:0}} km</p>
    <p ng-class="{'habitable': planetPanel.planet.isHabitable}">
      Habitable: {{planetPanel.planet.isHabitable ? 'Yes' : 'No' }}
    </p>
  </div>
    
  <div class="actions-panel">

    <ng-include src="planetPanel.habitableUrl"></ng-include>
    <ng-include src="planetPanel.nonHabitableUrl"></ng-include>
    <ng-include src="planetPanel.colonizedUrl"></ng-include>

  </div>
  
  <div ng-show="planetPanel.debugMode" class="debug-panel">
      <p> planetPanel.isPlanetColonizable: {{ planetPanel.isPlanetColonizable() }} </p>
      <p> planetPanel.isPlanetColonized: {{ planetPanel.isPlanetColonized() }} </p>
      <p> planetPanel.colonizationStarted: {{ planetPanel.colonizationStarted }} </p>
      <p> planetPanel.checkGameState('initial'): {{ planetPanel.checkGameState('initial') }} </p>
  </div>
</div>