@import 'src/ui/_variables.scss';
@import 'src/ui/planetManager/managerTabs/storage.scss';
@import 'src/ui/planetManager/managerTabs/buildings.scss';
@import 'src/ui/planetManager/managerTabs/fleet.scss';

.planet-manager-container {
  .management-tabs-select {
    margin-left: -12px;
    margin-right: -12px;
    border-bottom: 1px solid $color-white;
    padding-left: 12px;
    
    .tab-btn {
      position: relative;
      display: inline;
      cursor: pointer;
      padding-left: 30px;
      padding-right: 6px;
      border-right: 1px solid $color-white;
      font-size: 20px;
      transition: background 1s;
      min-width: 100px;
      
      &.content-changed {
        background: linear-gradient(0deg, $color-white, rgba(255, 255, 255, 0));
        background-size: 100% 400%;
        animation: bgFlash 2s;
      }
      
      &:last-child {
        border-right: none;
      }
      
      &.opened {
        // background: -moz-linear-gradient(top, rgba(205,235,142,0) 0%, rgba(234,247,215,1) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(top, rgba(205,235,142,0) 0%,rgba(234,247,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(205,235,142,0) 0%,rgba(130,173,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
      
      img {
        left: 4px;
        bottom: 4px;
      }
    }
  }
  
  $action-button-size: 72px;
  
  .action-icon-button {
    margin: 4px;
    width: $action-button-size;
    height: $action-button-size;

    img {
      max-width: $action-button-size;
      max-height: $action-button-size;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
      
      &.unavailable {
        filter: grayscale(80%);
      }
      
      &.available {
        cursor: pointer;
      }
    }
    
    span {
      text-align: center;
      width: $action-button-size;
      bottom: -28px;
      left: 0;
      font-size: 14px;
    }
  }
  
  .manager-tab {
    > div {
      height: 420px;
    }
    
    .visualization-panel {
      height: 200px;
      margin-top: 10px;
      background-color: $color-green-2;
      margin-left: -12px;
      margin-right: -12px;
      // TODO REMAKE
      .img-holder {
        height: 190px;
        overflow: hidden;
        text-align: center;

        > img {
          width: 440px;
          transform: scale(1.01);
          padding-top: 10px;
        }
      }
    }
  }
  
  .manager-overview-container {
    .top-info {
      display: flex;
      justify-content: space-between;
      
      > div {
        background-color: $color-ui-green-1;
        position: relative;
        font-size: 48px;
        margin: 0;
        -webkit-text-stroke: $color-font-outline-grey-1;
        -webkit-text-stroke-width: 0.5px;
        text-align: center;
        
        &.has-idle-workers {
          color: $color-peach-2;
        }  
        
        &.low-on-food {
          color: $color-peach-2;
        }
        
        .icon {
          position: relative;
          top: 6px;
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

@keyframes bgFlash {
  	from {
  	  background-position: 100% 100%;
  	}
	  to {
	    background-position: 1000% 0%;
	  }
}